In [1]:
from numpy import *
import pandas as pd
df = pd.read_csv('PSID.txt', sep='\t', error_bad_lines=False)
print list(df)
df.describe()

['ER60001', 'ER60002', 'ER60017', 'ER60018', 'ER62366', 'ER62506', 'ER64612', 'ER64810', 'ER65349', 'ER65459']

,ER60001,ER60002,ER60017,ER60018,ER62366,ER62506,ER64612,ER64810,ER65349,ER65459
count,9048.0,9048.000000,9048.000000,9048.000000,9048.000000,9048.000000,9048.000000,9048.000000,9.048000e+03,9048.000000
mean,1.0,4534.549072,45.654730,1.329244,2.554377,0.264920,4.106764,1.692418,6.954035e+04,14.570955
std,0.0,2620.837601,16.528586,0.469965,1.086979,0.889743,1.701723,1.316793,9.456179e+04,10.308990
min,1.0,1.000000,17.000000,1.000000,1.000000,0.000000,1.000000,1.000000,-2.200000e+04,0.000000
25%,1.0,2263.750000,32.000000,1.000000,2.000000,0.000000,5.000000,1.000000,2.400000e+04,12.000000
50%,1.0,4531.500000,43.000000,1.000000,2.000000,0.000000,5.000000,1.000000,4.931250e+04,13.000000
75%,1.0,6803.250000,58.000000,2.000000,3.000000,0.000000,5.000000,2.000000,9.021125e+04,16.000000
max,1.0,9080.000000,102.000000,2.000000,9.000000,9.000000,9.000000,9.000000,5.250100e+06,99.000000

In [2]:
df = df.drop(df[df.ER60017 == 999].index)
# dropping observations where age of head is either DK or NA.

In [3]:
df = df.drop(df[df.ER62366 == 8].index)
df = df.drop(df[df.ER62366 == 9].index)
# dropping observations where head's health is DK, NA, or refused.

In [4]:
df = df.drop(df[df.ER62506 == 8].index)
df = df.drop(df[df.ER62506 == 9].index)
df = df.drop(df[df.ER62506 == 0].index)
# dropping observations where health status before age 17 is DK, NA; refused, or Inap.

In [5]:
df = df.drop(df[df.ER64612 == 8].index)
df = df.drop(df[df.ER64612 == 9].index)
# dropping observations where any member in family w/o insurance.

In [6]:
df = df.drop(df[df.ER64810 == 9].index)
# dropping observations where race of head is DK, NA, or refused.

In [7]:
df = df.drop(df[df.ER65459 == 99].index)
# dropping observations where head's completed education level is DK or NA.

In [8]:
df.loc[df['ER64612'] == 1, 'ER64612'] = 1
df.loc[df['ER64612'] == 5, 'ER64612'] = 0
#creating an indicator that take the value 1 for no insurance and 0 otherwise

In [9]:
df.loc[df['ER60018'] == 1, 'ER60018'] = 0
df.loc[df['ER60018'] == 2, 'ER60018'] = 1
#creating an indicator that takes the value 1 for female and 0 otherwise.

In [10]:
df = df.drop(df[df.ER65349 < 0].index)
#dropping when income is negative

In [11]:
df.describe()

,ER60001,ER60002,ER60017,ER60018,ER62366,ER62506,ER64612,ER64810,ER65349,ER65459
count,1045.0,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.00000,1045.000000
mean,1.0,5822.200000,33.588517,0.285167,2.388517,1.912919,0.297608,1.662201,51881.75311,13.321531
std,0.0,2334.216201,14.727833,0.451710,1.086429,1.010991,0.457425,1.143764,51727.66142,2.259498
min,1.0,143.000000,17.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.00000,0.000000
25%,1.0,4020.000000,24.000000,0.000000,2.000000,1.000000,0.000000,1.000000,19775.00000,12.000000
50%,1.0,6282.000000,28.000000,0.000000,2.000000,2.000000,0.000000,1.000000,38220.00000,13.000000
75%,1.0,7780.000000,38.000000,1.000000,3.000000,3.000000,1.000000,2.000000,67100.00000,16.000000
max,1.0,9070.000000,95.000000,1.000000,5.000000,5.000000,1.000000,7.000000,535853.00000,17.000000

In [13]:
df["ER65349"]=df["ER65349"].apply(lambda x:math.log(x+1))
#log transformation on income

In [14]:
names = {
    "ER60001": "Release_Num",
    "ER60002": "ID",
    "ER60017": "Age",
    "ER60018": "Male",
    "ER62366": "Health_Now",
    "ER62506": "Health_Young",
    "ER64612": "NoHealthIns",
    "ER64810": "Race",
    "ER65349": "Income",
    "ER65459": "Educ"
}

for col in df.columns:
    if col in names:
        df = df.rename(columns = {col:names[col]})
df.head()
#changing names of columns

,Release_Num,ID,Age,Male,Health_Now,Health_Young,NoHealthIns,Race,Income,Educ
9,1,7098,20,0,3,3,0,1,11.818209,12
11,1,2571,37,0,3,3,0,1,11.390995,12
12,1,987,64,0,5,5,0,1,9.923045,9
32,1,3856,22,1,5,4,0,1,7.804251,12
70,1,5223,19,0,1,1,0,1,12.238061,12

In [15]:
df.loc[df['Race'] == 1, 'Race'] = 1
df.loc[df['Race'] == 2, 'Race'] = 2
df.loc[df['Race'] == 3, 'Race'] = 3
df.loc[df['Race'] == 4, 'Race'] = 3
df.loc[df['Race'] == 5, 'Race'] = 3
df.loc[df['Race'] == 7, 'Race'] = 3
#race: 1=white, 2=black, 3=other

In [17]:
df.loc[df['Health_Now'] == 1, 'Health_Now'] = 1
df.loc[df['Health_Now'] == 2, 'Health_Now'] = 2
df.loc[df['Health_Now'] == 3, 'Health_Now'] = 2
df.loc[df['Health_Now'] == 4, 'Health_Now'] = 3
df.loc[df['Health_Now'] == 5, 'Health_Now'] = 3
#Health_Now: 1=excellent, 2=very good and good, 3=fair and poor

In [18]:
df.loc[df['Health_Young'] == 1, 'Health_Young'] = 1
df.loc[df['Health_Young'] == 2, 'Health_Young'] = 2
df.loc[df['Health_Young'] == 3, 'Health_Young'] = 2
df.loc[df['Health_Young'] == 4, 'Health_Young'] = 3
df.loc[df['Health_Young'] == 5, 'Health_Young'] = 3
#Health_Young: 1=excellent, 2=very good and good, 3=fair and poor

In [19]:
df

,Release_Num,ID,Age,Male,Health_Now,Health_Young,NoHealthIns,Race,Income,Educ
9,1,7098,20,0,2,2,0,1,11.818209,12
11,1,2571,37,0,2,2,0,1,11.390995,12
12,1,987,64,0,3,3,0,1,9.923045,9
32,1,3856,22,1,3,3,0,1,7.804251,12
70,1,5223,19,0,1,1,0,1,12.238061,12
84,1,2434,41,1,2,1,0,2,11.424127,14
108,1,6248,37,0,2,2,0,1,10.389026,12
124,1,7404,20,0,2,2,0,1,10.154285,12
129,1,8891,27,0,2,2,0,1,10.308986,12
130,1,1840,24,1,2,1,0,1,10.374896,13
140,1,8703,55,1,2,1,0,1,10.920546,16
146,1,6267,36,0,2,2,0,1,10.689692,10
157,1,6280,25,0,2,1,1,1,9.449436,12
159,1,673,22,0,2,2,0,1,11.273004,16
165,1,945,36,0,1,1,1,1,8.699681,17
177,1,5242,89,1,3,1,0,1,10.153195,15
197,1,4546,19,1,1,2,0,1,10.016191,14
205,1,2418,35,0,2,1,0,1,11.686971,17
223,1,7788,22,0,2,3,0,1,11.013748,12
225,1,7841,41,1,3,2,0,1,9.635412,12
235,1,7884,41,0,1,1,0,2,10.340484,12
241,1,9063,66,0,2,1,0,2,11.467018,14
257,1,7483,56,0,1,1,0,1,12.512089,17
275,1,8447,53,0,2,2,1,2,10.283327,9
289,1,2119,23,0,2,2,0,1,10.596660,14
298,1,4272,38,0,1,1,0,1,12.805187,14
300,1,1554,36,0,1,2,0,1,13.191617,17
312,1,4140,31,0,1,1,0,1,11.338655,16
313,1,3810,29,0,1,1,0,1,11.372018,16
317,1,2174,19,1,1,1,0,1,8.736489,13
...,...,...,...,...,...,...,...,...,...,...
8845,1,8776,24,0,1,1,0,2,9.898525,12
8854,1,6917,37,0,2,3,0,2,11.373675,13
8856,1,8671,28,0,2,2,1,2,10.463132,10
8865,1,5669,56,0,2,3,0,2,9.276222,12
8868,1,4577,22,1,3,2,1,2,10.410335,13
8873,1,6058,37,0,2,1,0,1,11.149384,15
8875,1,5406,44,0,2,1,0,2,11.170111,17
8876,1,4563,20,0,2,2,1,2,9.935519,14
8883,1,6979,57,0,1,1,1,2,9.602450,14
8900,1,8036,61,0,3,1,0,2,9.169623,9
8908,1,8711,35,1,1,1,0,2,10.873167,14
8916,1,6244,21,0,2,1,0,2,10.035480,14
8920,1,3038,34,0,3,1,1,2,10.158013,12
8921,1,3658,25,0,1,2,0,2,8.335911,12
8927,1,6223,37,0,2,1,0,2,10.964969,12
8932,1,8806,24,1,2,2,0,2,9.472782,12
8936,1,2255,33,1,2,2,0,2,11.580631,15
8945,1,3857,24,1,2,2,0,2,9.770013,14
8956,1,7433,27,0,2,1,0,2,11.562677,16
8985,1,8147,25,1,1,1,0,2,9.648660,12
8991,1,3874,19,1,2,1,0,2,9.921377,13
8992,1,2341,38,0,2,1,0,2,11.378262,12
8996,1,4138,30,1,2,1,0,2,9.592400,12
9005,1,691,32,1,1,1,0,2,10.897868,14
9012,1,4660,66,0,3,2,0,2,10.167811,12
9014,1,5491,19,1,3,1,0,2,8.234565,12
9032,1,8584,23,1,1,1,0,2,9.945637,12
9033,1,9044,38,0,1,1,0,2,10.781058,8
9035,1,7665,61,0,3,2,1,2,10.179793,11
9037,1,5679,64,1,3,2,0,2,10.406593,11

In [20]:
# Discretizing categorical variables
df = pd.get_dummies(df, columns=["Health_Now", "Health_Young", "Race"], drop_first=True)
df.head()

,Release_Num,ID,Age,Male,NoHealthIns,Income,Educ,Health_Now_2,Health_Now_3,Health_Young_2,Health_Young_3,Race_2,Race_3
9,1,7098,20,0,0,11.818209,12,1,0,1,0,0,0
11,1,2571,37,0,0,11.390995,12,1,0,1,0,0,0
12,1,987,64,0,0,9.923045,9,0,1,0,1,0,0
32,1,3856,22,1,0,7.804251,12,0,1,0,1,0,0
70,1,5223,19,0,0,12.238061,12,0,0,0,0,0,0

In [21]:
df

,Release_Num,ID,Age,Male,NoHealthIns,Income,Educ,Health_Now_2,Health_Now_3,Health_Young_2,Health_Young_3,Race_2,Race_3
9,1,7098,20,0,0,11.818209,12,1,0,1,0,0,0
11,1,2571,37,0,0,11.390995,12,1,0,1,0,0,0
12,1,987,64,0,0,9.923045,9,0,1,0,1,0,0
32,1,3856,22,1,0,7.804251,12,0,1,0,1,0,0
70,1,5223,19,0,0,12.238061,12,0,0,0,0,0,0
84,1,2434,41,1,0,11.424127,14,1,0,0,0,1,0
108,1,6248,37,0,0,10.389026,12,1,0,1,0,0,0
124,1,7404,20,0,0,10.154285,12,1,0,1,0,0,0
129,1,8891,27,0,0,10.308986,12,1,0,1,0,0,0
130,1,1840,24,1,0,10.374896,13,1,0,0,0,0,0
140,1,8703,55,1,0,10.920546,16,1,0,0,0,0,0
146,1,6267,36,0,0,10.689692,10,1,0,1,0,0,0
157,1,6280,25,0,1,9.449436,12,1,0,0,0,0,0
159,1,673,22,0,0,11.273004,16,1,0,1,0,0,0
165,1,945,36,0,1,8.699681,17,0,0,0,0,0,0
177,1,5242,89,1,0,10.153195,15,0,1,0,0,0,0
197,1,4546,19,1,0,10.016191,14,0,0,1,0,0,0
205,1,2418,35,0,0,11.686971,17,1,0,0,0,0,0
223,1,7788,22,0,0,11.013748,12,1,0,0,1,0,0
225,1,7841,41,1,0,9.635412,12,0,1,1,0,0,0
235,1,7884,41,0,0,10.340484,12,0,0,0,0,1,0
241,1,9063,66,0,0,11.467018,14,1,0,0,0,1,0
257,1,7483,56,0,0,12.512089,17,0,0,0,0,0,0
275,1,8447,53,0,1,10.283327,9,1,0,1,0,1,0
289,1,2119,23,0,0,10.596660,14,1,0,1,0,0,0
298,1,4272,38,0,0,12.805187,14,0,0,0,0,0,0
300,1,1554,36,0,0,13.191617,17,0,0,1,0,0,0
312,1,4140,31,0,0,11.338655,16,0,0,0,0,0,0
313,1,3810,29,0,0,11.372018,16,0,0,0,0,0,0
317,1,2174,19,1,0,8.736489,13,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8845,1,8776,24,0,0,9.898525,12,0,0,0,0,1,0
8854,1,6917,37,0,0,11.373675,13,1,0,0,1,1,0
8856,1,8671,28,0,1,10.463132,10,1,0,1,0,1,0
8865,1,5669,56,0,0,9.276222,12,1,0,0,1,1,0
8868,1,4577,22,1,1,10.410335,13,0,1,1,0,1,0
8873,1,6058,37,0,0,11.149384,15,1,0,0,0,0,0
8875,1,5406,44,0,0,11.170111,17,1,0,0,0,1,0
8876,1,4563,20,0,1,9.935519,14,1,0,1,0,1,0
8883,1,6979,57,0,1,9.602450,14,0,0,0,0,1,0
8900,1,8036,61,0,0,9.169623,9,0,1,0,0,1,0
8908,1,8711,35,1,0,10.873167,14,0,0,0,0,1,0
8916,1,6244,21,0,0,10.035480,14,1,0,0,0,1,0
8920,1,3038,34,0,1,10.158013,12,0,1,0,0,1,0
8921,1,3658,25,0,0,8.335911,12,0,0,1,0,1,0
8927,1,6223,37,0,0,10.964969,12,1,0,0,0,1,0
8932,1,8806,24,1,0,9.472782,12,1,0,1,0,1,0
8936,1,2255,33,1,0,11.580631,15,1,0,1,0,1,0
8945,1,3857,24,1,0,9.770013,14,1,0,1,0,1,0
8956,1,7433,27,0,0,11.562677,16,1,0,0,0,1,0
8985,1,8147,25,1,0,9.648660,12,0,0,0,0,1,0
8991,1,3874,19,1,0,9.921377,13,1,0,0,0,1,0
8992,1,2341,38,0,0,11.378262,12,1,0,0,0,1,0
8996,1,4138,30,1,0,9.592400,12,1,0,0,0,1,0
9005,1,691,32,1,0,10.897868,14,0,0,0,0,1,0
9012,1,4660,66,0,0,10.167811,12,0,1,1,0,1,0
9014,1,5491,19,1,0,8.234565,12,0,1,0,0,1,0
9032,1,8584,23,1,0,9.945637,12,0,0,0,0,1,0
9033,1,9044,38,0,0,10.781058,8,0,0,0,0,1,0
9035,1,7665,61,0,1,10.179793,11,0,1,1,0,1,0
9037,1,5679,64,1,0,10.406593,11,0,1,1,0,1,0

In [22]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression()
X, y = df[['Male','Race_2','Race_3','Age','Health_Now_2', 'Health_Now_3', 'Health_Young_2', 'Health_Young_3','Income','Educ']], df.NoHealthIns
model = lm.fit(X, y)

In [23]:
from scipy import stats

import statsmodels.formula.api as sm
est = sm.Logit(y, X).fit(method="lbfgs")
print (est.summary2())

                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.049
Dependent Variable: NoHealthIns      AIC:              1229.6089
Date:               2018-04-15 22:54 BIC:              1279.1266
No. Observations:   1045             Log-Likelihood:   -604.80
Df Model:           9                LL-Null:          -636.22
Df Residuals:       1035             Scale:            1.0000
Converged:          0.0000
----------------------------------------------------------------
                  Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
----------------------------------------------------------------
Male             -0.5195   0.1666 -3.1180 0.0018 -0.8461 -0.1929
Race_2            0.5792   0.1423  4.0696 0.0000  0.3003  0.8582
Race_3            0.1952   0.3185  0.6130 0.5399 -0.4290  0.8195
Age              -0.0165   0.0054 -3.0276 0.0025 -0.0272 -0.0058
Health_Now_2      0.1918   0.1810  1.0595 0.2894 -0.1630  0.5466
Health_Now_3      0.4646   0.2498  1.8601 0.0629 -0.0249  0.9541
Health_Young_2    0.3689   0.1522  2.4236 0.0154  0.0706  0.6672
Health_Young_3    0.1623   0.2877  0.5639 0.5728 -0.4017  0.7262
Income            0.0055   0.0402  0.1377 0.8905 -0.0733  0.0844
Educ             -0.0693   0.0290 -2.3847 0.0171 -0.1262 -0.0123
================================================================

/usr/local/lib/python2.7/dist-packages/statsmodels/base/model.py:496: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [ ]:
#Please use the clean data and logit model to analyze the effect of childhood status on being without health insurance.

In [ ]:
# Looking at the regression table, it can be seen that Male, Race_2, Age, Health_Young_2, and Education are
# statistically significant. Because Health_Young_3 is not statistically significant, I will not include
# it in my interpretation. Health_Young_2 refers to those who had "very good" or "good" health in their youth.
# The coefficient is 0.3689 but I cannot interpret this as partial slope coefficient because
# the model isn't linear. The positive coefficient shows that having good or very good health in youth has a 
# positive effect on not having health insurance. This sort of makes sense because the better health you had
# as a child, the less likely you are to obtain health insurance as an adult because you probably don't
# expect to have as many health issues.